/* Login page  */

.login-page {
  border-top: 10px #f2e2b0 solid;
  height: 95vh;
  padding-top: 40px;
  justify-content: center;
  align-items: center;
}

.login-error-message {
  color: red;
  font-size: 14px;
}

.login-h1 {
  color: #dd6956;
  text-align: center;
  font-weight: lighter;
  margin-top: 60px;
  font-size: 50px;
  padding: 0;
  margin-bottom: 0;
}

.login-page h5 {
  margin-top: 0;
}

.login-in {
  font-weight: 900;
}

.login-call-span,
.login-in-span {
  color: #dd6956;
  font-weight: lighter;
}

.login-in-span {
  font-weight: 900;
}

.login-button {
  width: 130px;
  height: 20px;
  background: #4497bd;
  mix-blend-mode: normal;
  border-radius: 20px;
  color: white;
  margin-bottom: 20px;
}

.login-logo {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.logo-megaphone {
  display: flex;
  margin-bottom: 20px;
  margin-left: 5px;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-short-intro {
  margin: 0 20px;
  text-align: center;
  margin-top: 0;
}

.login-page input {
  width: 60%;
  padding: 7px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  border-radius: 20px;
}

.login-page input:focus {
  outline: none;
}

.registration-link {
  color: #dd6956;
}

.register {
  color: Register;
}

a {
  text-decoration: none;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .login-page input {
    width: 25%;
  }
}

@media only screen and (min-width: 768px) {
  .login-main {
    height: 90%;
    margin: 0 auto;
  }
  .login-page input {
    width: 20%;
  }

  .login-short-intro {
    margin: 0 auto;
    width: 30%;
  }

  .login-logo {
    margin-top: 100px;
  }
}

@media only screen and (min-width: 1200px) {
  .login-page input {
    width: 10%;
  }
}
