.event {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.event-header {
  display: flex;
  font-style: normal;
  font-size: 10px;
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: 25px;
  margin-right: 25px;
  justify-content: space-between;
}

.event-header-left {
  display: flex;
}

.event-header p {
  margin-bottom: 0px;
}

.middleText {
  display: flex;
  flex-direction: column;
  margin-left: 13px;
}

.event-header-right {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
}

.event-header-right img {
  margin-right: 3px;
}

#organiser {
  font-weight: 500;
  color: #4497bd;
}

.event-body {
  display: flex;
  flex-direction: column;
  border: 1px solid #574947;
  box-sizing: border-box;
  margin-bottom: 25px;
  margin-left: 25px;
  margin-right: 25px;
  border-radius: 10px;
  padding: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
}

.event-body-right img {
  margin-bottom: 5px;
}

.event-body-top {
  display: flex;
  justify-content: space-between;
}

#date {
  color: #dd6956;
  border-radius: 10px;
}

#title {
  color: #4497bd;
  font-size: 12px;
}

#description {
  font-weight: normal;
}

.event-body-right {
  display: flex;
  flex-direction: column;
}

.event-body-bottom {
  display: flex;
}

.icons {
  width: 50%;
}

.peopleGoing {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: flex-end;
}

.peopleGoing p {
  margin-top: 3px;
}

.peopleGoing img {
  margin-right: -3px;
}

.people {
  display: flex;
  margin-right: 6px;
}

#pic1 {
  z-index: 2;
  height: 22px;
  border-radius: 10px
}

.event-org-logo {
  width: 20%;
  height: 100%;
}
