.volunteer-profile p {
    font-size: 10px;
  }
  
  .volunteer-profile h4 {
    font-size: 15px;
    color: #dd6956;
    text-align: center;
  }
  
  .volunteer-intro {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    min-width: 138px;
    min-height: 207px;
    margin-top: 10px;
    color: #4497bd;
    margin-bottom: -10px;
  }
  
  .volunteer-profile-type {
    margin-top: -10px;
    margin-bottom: 0;
  }
  
  .volunteer-profile-pic {
    width: 120px;
    height: 110px;
    border-radius: 50%;
  }
  
  .volunteer-buttons button {
    width: 130px;
    height: 20px;
    background: #4497bd;
    border-radius: 20px;
  }
  
  .volunteer-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 11px;
  }
  
  .color-break {
    background-color: #f2e2b0;
    height: 10px;
  }
  
  .volunteer-name {
    margin-top: 5px;
    color: #4497bd;
  }
  
  .volunteer-share-button {
    margin-right: 20px;
  }
  