.body {
    color: #4497BD !important;
}
.call-navbar {
    position: absolute;
    width: 100%;
    height: 44px;
    left: 0px;
    top: 0px;
    background: #F5F2EE;
    border: 1px solid #F5F2EE;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.call-img-close {
    position: absolute;
    left: 23.91px;
    top: 14.91px;
}

.call-img-confirm {
    position: absolute;
    left: 148.91px;
    top: 14.91px;
}

.create-event-p {
    position: absolute;
    width: 85px;
    height: 14px;
    left: 223px;
    top: 6px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: #DD6956;
}

.call-add-title {
    position: absolute;
    width: 163px;
    height: 22px;
    left: 43px;
    top: 59px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #574947;
    opacity: 0.3;
}

.call-image_upload {
    position: absolute;
    left: 70.28%;
    right: 10.97%;
    top: 11.95%;
    bottom: 86.09%;
}

.call-org-pic {
    position: absolute;
    width: 36px;
    height: 36px;
    left: 20px;
    top: 159px;
}

.call-org-title {
    position: absolute;
    width: 33px;
    height: 12px;
    left: 65px;
    top: 155px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    color: #574947;
}

.call-org-desc {
    position: absolute;
    width: 40px;
    height: 11px;
    left: 65px;
    top: 168px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 9px;
    line-height: 11px;
    text-align: center;
    color: #C4C4C4;
}

.callEvent-popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0,0,0, 0.5);
}

.callEvent-popup-inner {
    position: absolute;
    left: 5%;
    right: 5%;
    top: 13%;
    bottom: 65%;
    margin: auto;
    background: #F5F2EE;
    border-radius: 15px;
}

.call-radio {
    position: absolute;
    width: 13px;
    height: 13.04px;
    left: 32px;
    top: 24px;
    border: 1px solid #4497BD;
    box-sizing: border-box;
    border-radius: 10px;
}

.call-radio-label {
    position: absolute;
    width: 78px;
    height: 16px;
    left: 60px;
    top: 26px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #574947;
}

.event-radio {
    position: absolute;
    width: 13px;
    height: 13.04px;
    left: 32px;
    top: 84px;
    border: 1px solid #4497BD;
    box-sizing: border-box;
    border-radius: 10px;
}

.event-radio-label {
    position: absolute;
    height: 16px;
    left: 60px;
    top: 86px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #574947;
}

.call-img-back {
    position: absolute;
    left: 150px;
    top: 15.91px;
}